
.FooterContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0em 0em 1em 0em;
    width: 100vw;
    background: linear-gradient(#230660, #1438D7);
}

.SocialList{
    flex-direction: row;
}

.SocialLink{
    width: 2.25em;
    margin: 0 0.5em;
    transition: width 0.4s cubic-bezier(0.5, 0, 1, 0.5);
}

.SocialLink:hover{
    width: 4em;
    margin: 0  0.5em;
    transition: width 0.4s cubic-bezier(0, 0.5, 0.5, 1);
    opacity: 0.5;
}

@media(min-width: 767px){
    .SocialLink{
        width: 4em;
        margin: 0 1.25em;
        transition: width 0.4s cubic-bezier(0.5, 0, 1, 0.5);
    }

    .SocialLink:hover{
        width: 6em;
        margin: 0 1.25em;
        transition: width 0.4s cubic-bezier(0, 0.5, 0.5, 1);
        opacity: 0.5;
    }
}

.ClubfestDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ClubfestDetail{
    color: #ffffff;
}

.Clubfest{
    display: block;
    font-size: 1.25em;
    margin: 0.5em;
    text-align: center;
    color: #ffffff
}

@media(min-width: 767px){
    .ClubfestDetailsContainer{
        display: flex;
        flex-direction: row;
    }

    .Clubfest{
        display: block;
        font-size: 2em;
        margin: 0.5em;
        text-align: center;
        color: #ffffff
    }
}



.ClubfestTable{
    display: block;
    height: 1em;
    margin-left: 0.25em;
    transition: height 0.2s cubic-bezier(0.5, 0, 1, 0.5);
}

.ClubfestTable:hover{
    display: block;
    height: 1.5em;
    margin-left: 0.25em;
    transition: height 0.2s cubic-bezier(0, 0.5, 0.5, 1);
    opacity: 0.5;
}

@media(min-width: 767px){
    .ClubfestTable{
        display: block;
        height: 1em;
        margin-left: 0.25em;
    }
}

.ClubfestDetail{
    display: flex;
    font-size: 1em;
    flex-direction: row;
    margin: 0.75em;
    height: 1em;
    align-items: center;
}

@media(min-width: 767px){
    .ClubfestDetail{
        display: flex;
        font-size: 1.25em;
        flex-direction: row;
        margin: 0.75em 0.5em;
        align-items: center;
    }

}