
.headerContainer{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100vw;
    height: 3em;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.headerItem{
    font-size: 0.9em;
    display: flex;
    padding: 0.75em 0.75em;
    color: #230660;
    height: 3.5em;
    width: auto;
    align-items: center;
    margin: 0 0.25em;
}

.headerText{
    text-align: center;
    font-size: 1.0em;
    display: flex;
    color: #230660;
    height: 3em;
    width: auto;
    align-items: center;
    margin: 0;
}

@media(min-width: 680px){
    .headerItem{
        padding: 1.5vw;
        margin: 0 0.25em;
    }

    .headerText{
        font-size: 1.5em;
    }
    
}

@media(min-width: 1200px){
    .headerItem{
        padding: 0.75em;
       
    }

    .headerText{
        font-size: 1.5em;
    }
}

