.homePageContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.notFooter{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    margin-bottom: 4em;
}

.StartButton{
    margin: 0.5em;
    border: 0.15em solid rgba(224, 240, 255, 0.2);
    border-radius: 1.25em;
    outline: none;
    display: flex;
    width: 60vw;
    height: 4em;
    padding: 1vw;
    background-color: #230660;
    font-family: 'Basier Circle', sans-serif;
    color: #e0f0ff;
    font-size: 1.75em;
    position: relative;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0.5rem 0.5rem 0.25rem #000000);
    transition: background-color 0.2s cubic-bezier(0.5, 0, 0.5, 1), transform 0.2s cubic-bezier(0.5, 0, 0.5, 1), color 0.2s cubic-bezier(0.5, 0, 0.5, 1);
    box-shadow: none;
}

.StartButton:hover{
    background-color: #e0f0ff;
    color: #230660;
    transition: background-color 0.2s cubic-bezier(0.5, 0, 0.5, 1), transform 0.2s cubic-bezier(0.5, 0, 0.5, 1), color 0.2s cubic-bezier(0.5, 0, 0.5, 1);
}

.StartButton:active{
    transform: translate(8px, 8px);
    filter: drop-shadow(0 0 0.25rem #000000);
}

.ShareButton{
    margin: 0.5em;
    border: 0.15em solid rgba(224, 240, 255, 0.2);
    border-radius: 1.25em;
    outline: none;
    display: flex;
    width: 35vw;
    height: 4em;
    padding: 1vw;
    background-color: #230660;
    font-family: 'Basier Circle', sans-serif;
    color: #e0f0ff;
    font-size: 1.75em;
    position: relative;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0.5rem 0.5rem 0.25rem #000000);
    transition: background-color 0.2s cubic-bezier(0.5, 0, 0.5, 1), transform 0.2s cubic-bezier(0.5, 0, 0.5, 1), color 0.2s cubic-bezier(0.5, 0, 0.5, 1);
    box-shadow: none;
}

.ShareButton:hover{
    background-color: #e0f0ff;
    color: #230660;
    transition: background-color 0.2s cubic-bezier(0.5, 0, 0.5, 1), transform 0.2s cubic-bezier(0.5, 0, 0.5, 1), color 0.2s cubic-bezier(0.5, 0, 0.5, 1);
}

.ShareButton:active{
    transform: translate(8px, 8px);
    filter: drop-shadow(0 0 0.25rem #000000);
}

.titleImage{
    width: 80vw;
    height: auto;
    margin: 1vw 0;
    max-width: 720px;
}

.HomeTitle{
    font-size: 2.5em;
}

.Link{
    text-decoration: none;
}

.titleFooter{
    margin-top: auto;
}

.body{
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.buttonIcon{
    width: 1.5em;
    margin-right: 0.5em;
    filter: brightness(39) hue-rotate(-75deg);
}

.StartButton:hover .buttonIcon{
    filter: none;
}

.ShareButton:hover .buttonIcon{
    filter: none;
}

@media(max-width: 767px){
    .HomeTitle{
        font-size: 1.25em;
    }

    .StartButton{
        margin: 0.5em;
        border: 0.15em solid rgba(224, 240, 255, 0.2);
        border-radius: 0.75em;
        outline: none;
        display: flex;
        width: 75vw;
        height: 3em;
        background-color: #230660;
        font-family: 'Basier Circle', sans-serif;
        color: #e0f0ff;
        font-size: 1.25em;
        position: relative;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0.5rem 0.5rem 0.25rem #000000);
        transition: transform 0.2s ease;
        box-shadow: none;
    }

    .ShareButton{
        margin: 0.5em;
        border: 0.15em solid rgba(224, 240, 255, 0.2);
        border-radius: 0.75em;
        outline: none;
        display: flex;
        width: 50vw;
        height: 3em;
        background-color: #230660;
        font-family: 'Basier Circle', sans-serif;
        color: #e0f0ff;
        font-size: 1.25em;
        position: relative;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0.5rem 0.5rem 0.25rem #000000);
        transition: transform 0.2s ease;
        box-shadow: none;
    }

    .titleImage{
        max-width: 75vw;
        height: auto;
        margin: 1vw 0;
    }
    
    .buttonIcon{
        width: 1.0em;
        margin-right: 0.5em;
        filter: brightness(39) hue-rotate(-75deg);
    }
}