.QuestionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    margin: 7vh 5vw 0;
    z-index: 0;
}

.QuestionText{
    text-align: center;
    font-size: 2.5em;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.questionImage{
    display: flex;
    max-height: 28vh;
    padding: 0 7.5vw;
    margin-bottom: 2vh;
}

.Button{
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
}

.answer{
    margin: 0.5em;
    border: 0.15em solid rgba(224, 240, 255, 0.2);
    border-radius: 1.25em;
    outline: none;
    display: flex;
    width: 60vw;
    height: 4em;
    padding: 1vw;
    background-color: #230660;
    font-family: 'Basier Circle', sans-serif;
    color: #e0f0ff;
    font-size: 1.75em;
    position: relative;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0.5rem 0.5rem 0.25rem #000000);
    transition: transform 0.2s ease;
    box-shadow: none;
}

@media(max-width: 767px){
    .answer{
        font-size: 1.1em;
        width: 75vw;
    }

    .QuestionText{
        font-size: 1.5em;
    }

    .questionImage{
        display: flex;
        max-height: 24vh;
        padding: 0 7.5vw;
        margin-bottom: 2vh;
    }
}

.answer:hover{
    background-color: #e0f0ff;
    color: #230660;
}

.answer:active{
    transform: translate(8px, 8px);
    filter: drop-shadow(0 0 0.25rem #000000);
}

.buttonsContainer{
    display: flex;
    align-items: center;
    margin: 1vw;
}

.background{
    max-height: 100vw;
    position: absolute;
    z-index: -2;
    overflow: hidden;
}

.progressBarContainer{
    margin-bottom: 4vh;
    margin-top: 2vh;
    width: 84vw;
    height: 0.5em;
    border-radius: 99999999999999999999px;
    background-color: #1438D7;
    opacity: 1;
}

.movingBackground{
    background-color: #e0f0ff;
    border-radius: 99999999999999999999px;
    opacity: 1;
    height: inherit;
    transition: width 0.2s cubic-bezier(0.5,0,0.5,1);
}