.QuestionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
    margin: 1em 0 0em 0;
    z-index: 0;
}

.QuestionText{
    text-align: center;
    font-size: 2em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    
}

.questionImage{
    display: flex;
    width: 45vw;
    max-width: 500px;
    padding: 0;
    margin-bottom: 0vh;
}

.Button{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
}

.answer{
    margin: 0.5em;
    border: 0.15em solid rgba(224, 240, 255, 0.2);
    border-radius: 1.25em;
    outline: none;
    display: flex;
    width: 40vw;
    height: 4em;
    padding: 1em;
    background-color: #230660;
    font-family: 'Basier Circle', sans-serif;
    color: #ffffff;
    font-size: 1.2em;
    position: relative;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0.5rem 0.5rem 0.25rem #000000);
    transition: transform 0.2s ease;
    box-shadow: none;
}

.ImageAndAnswers{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media(max-width: 767px){
    .QuestionContainer{
        padding: 2em 1em;
    }

    .answer{
        font-size: 1.0em;
        width: 85vw;
    }

    .ImageAndAnswers{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .QuestionText{
        font-size: 1.5em;
    }

    .questionImage{
        display: flex;
        width: 80vw;
        max-width: 480px;
        padding: 0;
        margin-bottom: 1em;
    }

    .Button{
        margin-left: 0;
    }
}

.answer:hover{
    background-color: #e0f0ff;
    color: #230660;
}

.answer:active{
    transform: translate(8px, 8px);
    filter: drop-shadow(0 0 0.25rem #000000);
}

.buttonsContainer{
    display: flex;
    align-items: center;
    margin: 0vw;
}

.background{
    max-height: 100vw;
    position: absolute;
    z-index: -2;
    overflow: hidden;
}

.progressBarContainer{
    margin-bottom: 3em;
    margin-top: 0;
    width: 88vw;
    height: 0.5em;
    border-radius: 99999999999999999999px;
    background-color: #1943FF;
    opacity: 1;
}

.movingBackground{
    background-color: #ffffff;
    border-radius: 99999999999999999999px;
    opacity: 1;
    height: inherit;
    transition: width 0.2s cubic-bezier(0.5,0,0.5,1);
}