.ResultContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em;
}

.ResultImage{
    width: 80vw;
    height: auto;
    margin: 2.25em 0;
    max-width: 480px;
}



.buttonsContainer{
    display: flex;
}

.ResultTitle{
    text-align: center;
    font-size: 2.5em;
    margin-top: 1.25em;
    margin-bottom: 0
}

.Button{
    margin: 0.5em;
    border: 0.15em solid rgba(224, 240, 255, 0.2);
    border-radius: 0.75em;
    outline: none;
    display: flex;
    width: 35vw;
    height: 3em;
    padding: 1em;
    background-color: #230660;
    font-family: 'Basier Circle', sans-serif;
    color: #e0f0ff;
    font-size: 1.75em;
    position: relative;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0.5rem 0.5rem 0.25rem #000000);
    transition: transform 0.2s ease;
    box-shadow: none;
}

.Button:hover{
    background-color: #e0f0ff;
    color: #230660;
}



.Button:active{
    transform: translate(8px, 8px);
    filter: drop-shadow(0 0 0.25rem #000000);
}


.buttonIcon{
    width: 1.5em;
    margin-right: 0.5em;
    filter: brightness(39) hue-rotate(-75deg);
}

.Button:hover .buttonIcon{
    filter: none;
}

.Link{
    text-decoration: none;
}

@media(max-width: 768px){
    .ResultImage{
        width: 80vw;
        max-width: 480px;
    }

    .ResultTitle{
        font-size: 1.5em;
    }
    .Button{
        font-size: 1.25em;
        width: 40vw;
        height: 3em;
        border-radius: 0.75em
    }

    .buttonIcon{
        margin-right: 0.5em;
        width: 1.5em;
    }

    .ResultContainer{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4em;
    }
}

