@import url('https://fonts.cdnfonts.com/css/basier');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Basier Circle', sans-serif;
  width: inherit;
  height: auto;
  margin: 0;
  color: #ffffff;
  background-size: 100% 100%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px;
background-image: radial-gradient(113% 91% at 17% -2%, #660057B8 1%, #FF000000 99%),radial-gradient(142% 91% at 112% 18%, #3D0066 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #001366 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #230660 0%, #001366 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
  display: none;
}


h1{
  font-size: 1.25rem;
}

h2{
  font-size: 0.66rem;
}

@media(min-width: 400px){
  h1{
    font-size: 1.75rem;
  }

  h2{
    font-size: 1rem;
  }
}

@media(min-width: 768px){
  h1 {
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  h2 {
    font-size: 1.5rem;
    color: #ffffff;
  }
}




